<?xml version="1.0"?>
<config>
    <modules>
        <Vianetz_DefaultPaymentMethod>
            <version>1.0.0</version>
        </Vianetz_DefaultPaymentMethod>
    </modules>

    <global>
        <helpers>
            <vianetz_defaultpaymentmethod>
                <class>Vianetz_DefaultPaymentMethod_Helper</class>
            </vianetz_defaultpaymentmethod>
        </helpers>
        <blocks>
            <vianetz_defaultpaymentmethod>
                <class>Vianetz_DefaultPaymentMethod_Block</class>
            </vianetz_defaultpaymentmethod>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>Vianetz_DefaultPaymentMethod_Block_Onepage_Payment_Methods</onepage_payment_methods>
                </rewrite>
            </checkout>
        </blocks>
    </global>
</config>
